footer form {
	padding: 37.5px 0 0;
	}

footer form p {
	margin: 0;
	}

footer input.email {
	background: none;
	border: 1px solid #333;
	border-top: 0;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	padding: 5px 10px 8px;
	float: left;
	width: 22%;
	margin: 0;
	text-align: center;
	margin-left: 26%;
	}

footer input.email:focus {
	outline: 0;
	border-color: #909090;
	}

footer input {
	-webkit-appearance: none;
	box-sizing: border-box;
	margin: 0;
	}

footer input#submit {
	background: #292828;
	color: #909090;
	text-align: center;
	border-radius: 5px;
	padding: 8px 0;
	display: block;
	border: 0;
	display: block;
	cursor: pointer;
	font-size: 13px;
	margin: 0 26% 0 0;
	float: right;
	width: 22%;
	}

footer input#submit:hover {
	background: #3a3a3a;
	color: #eee;
	}
